<header class="main-header main-header--positioned">
  <div class="container">
    <div class="grid">
      <div class="grid__item one-third">
        <h1 class="main-logo main-header__logo">
          <a class="main-logo__link" href="/">B&amp;K Construtors</a>
        </h1>
      </div><div class="grid__item two-thirds">
        {% include 'templates/partials/main-navigation.twig' %}
        <div class="hamburger-menu hamburger-xclose main-header__mbutton js-menu-button">
          <span class="hamburger-menu__line">
            Menu
          </span>
        </div>
      </div>
    </div>
  </div>
</header>