{% extends "templates/base.twig" %}

{% block content %}

    {% for post in posts %}

        <article {{ function('post_class') }}>
            <header>
                <h1 class="entry-title gamma">{{ post.title }}</h1>
            </header>
            <div class="push--bottom">
              <img src="{{TimberImage(post.thumbnail.src)}}" alt="">
            </div>
            <div class="entry-content">
                {{ post.content }}
            </div>
        </article>
        <hr>

    {% endfor %}

{% endblock %}